.mySwiper {
    margin-left: 8px;
    margin-right: 8px;
    gap: 10rem;
}
.mov h1{
    margin: 100px 20px 50px;
    font-size: 40px;
    font-weight: 700;
}

.image{
    width: 290px;
    height: 500px;
    border-radius: 15px;
}
/* 
.movie-container {
    margin-left: 20px;
    display: flex;
} */

.container h3 {
    text-align: center;
}