.navbar {
    background-color:transparent;
    z-index: 50;
    position: absolute;
    height: 0;
}

.navbar-judul h1 {
    margin-top: 10px;
    font-size: 50px;
    font-weight: 800;
    color: transparent;
}

.searchBox {

}

.search-bar {
    font-size: 15px;
    width: 470px;
    height: 40px;
    background-color: transparent;
    margin-right: 180px;
    outline: none;
    border-radius: 50px;
    border-color: white;
    color: white;
    padding: 0.3rem 1rem;
}

.navbar .buttonfirst {
    margin-right: 5px;
    width: 100px;
    border-radius: 50px;
    background-color: transparent;
    border-color: red;
    color: red;
} 

.navbar .buttonsecond {
    width: 100px;
    border-radius: 30px;
} 

.formlogin {
    width: 100%;
    height: 50%;
    margin-top: 140px;
}

.isilogin {
    border-radius: 50%;
}

.buttonlogin {
    margin-left: 2px;
}

.formregis {
    width: 130%;
    height: 50%;
    margin-top: 140px;
}